[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
SQLAlchemy = "*"
PyMySQL = "*"
Requests = "*"
google-cloud-storage = "*"
Pillow = "*"
python-resize-image = "*"
webp-converter = "*"
Python-dotenv = "*"
pyjwt="*"
PyBigQuery = "*"
Mixpanel = "*"
Sendgrid = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
