[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
SQLAlchemy = "*"
Pandas = "*"
PyMySQL = "*"
Requests = "*"
google-cloud-storage = "*"
google-cloud-bigquery = "*"
google-cloud-bigquery-storage = "*"
Pillow = "*"
python-resize-image = "*"
webp-converter = "*"
Python-dotenv = "*"
pyjwt="*"
Mixpanel = "*"
Loguru = "*"
Twilio = "*"
flask-cors = "*"
Beautifulsoup4 = "*"
extruct = "*"
simplejson = "*"
ddtrace = "*"
boto = "*"
botocore = "*"
uWSGI = "*"

[dev-packages]
pytest-flask = "*"
mock = "*"
mypy = "*"

[requires]
python_version = "3.8"
